<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= turbo_stream_from @product %>

    <%= turbo_frame_tag "product" do %>

      <%= render @product %>

      <%= link_to "Edit this product", edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this product", product_path(@product), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium", "data-turbo-frame": "_top" %>
      </div>
      <%= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", "data-turbo-frame": "_top" %>
    <% end -%>

    <div class="bg-sky-100 p-24 h-screen mt-2">
      <div class="text-2xl">Reviews</div>
      <div class="h-full mx-auto max-w-screen-xl grid grid-cols-2 gap-12 *:bg-white *:p-8 *:rounded">
        <div id="reviews" class="overflow-auto divide-y">
          <%= render @product.reviews %>
        </div>
        <div>
          <%= turbo_frame_tag "new_review", src: new_product_review_path(@product), target: "_top" %>
        </div>
      </div>
    </div>

  </div>
</div>
